body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
  text-align: center;
}

table {
	display: table;
    border-collapse: collapse;
    box-sizing: border-box;
    text-indent: 0;
    width: 100%;
    text-align: left;
    margin: 20px auto;
}

th, td {
	border: 1px solid rgb(162, 162, 162);
  padding: 10px 20px;
}

th {
    background-color:rgb(165, 232, 209);
}

.stats-container{
    display: flex;
    justify-content: center;
    gap: 60px;
}

.min-table, .max-table{
    width: 350px;
}

/* Style buttons */
.btn {
align-items: center;
  background-color: rgb(165, 232, 209);/* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
  background-color:rgb(121, 191, 166);
}

footer {
  position: fixed;
  left: 0;
  bottom: 2dvh;
  width: 100%;
  color: black;
  text-align: center;
}

.stats-container{
    display: flex;
    justify-content: center;
    gap: 60px;
}

.min-table, .max-table{
    width: 450px;
}

.max-table{
    align-items: left;}

.last-measurement table{
    width: 450px;
    text-align: center;
}