<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Front Page</title>
		<link rel="stylesheet" href="/static/style.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<div class="statistics">

			<h1>Statistics</h1>

			{% if last_measurement %}

			<!-- last measurement table -->
			<div class="last-measurement">
				<h2>Latest Measurement</h2>
				<table>
					<tr>
						<th>TVOC</th>
						<th>eCO2</th>
						<th>Timestamp</th>
					</tr>
					<tr>
						<td id="lastTvocValue">{{ last_measurement.TVOC }}</td>
						<td id="lastEco2Value">{{ last_measurement.eCO2 }}</td>
						<td id="lastTimestamp">{{ last_measurement.timestamp }}</td>
					</tr>
				</table>
			</div>

			<!-- maximum and minimum measurements tables -->
			<div class="stats-container">

				<!-- minimum table -->
				<div class="min-table">
					<h2>Minimum Values</h2>
					<table>
						<tr>
							<th>Measurement</th>
							<th>Value</th>
							<th>Timestamp</th>
						</tr>

						<tr>
							<td>TVOC</td>
							<td id="minimumTvocValue">{{ lowest_TVOC_measurement.TVOC }}</td>
							<td id="minimumTvocTimestamp">{{ lowest_TVOC_measurement.timestamp }}</td>
						</tr>

						<tr>
							<td>eCO2</td>
							<td id="minimumEco2Value">{{ lowest_eCO2_measurement.eCO2 }}</td>
							<td id="minimumEco2Timestamp">{{ lowest_eCO2_measurement.timestamp }}</td>
						</tr>
					</table>
				</div>

				<!-- maximum table -->
				<div class="max-table">
					<h2>Maximum Values</h2>
					<table>
						<tr>
							<th>Measurement</th>
							<th>Value</th>
							<th>Timestamp</th>
						</tr>

						<tr>
							<td>TVOC</td>
							<td id="maximumTvocValue">{{ highest_TVOC_measurement.TVOC }}</td>
							<td id="maximumTvocTimestamp">{{ highest_TVOC_measurement.timestamp }}</td>
						</tr>

						<tr>
							<td>eCO2</td>
							<td id="maximumEco2Value">{{ highest_eCO2_measurement.eCO2 }}</td>
							<td id="maximumEco2Timestamp">{{ highest_eCO2_measurement.timestamp }}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>

		{% endif %}

		<footer>
			<a href="{{ url_for('measurements_list') }}" class="btn">
				<i class="fa fa-folder"></i>
			</a>
		</footer>
		<script src="/static/script.js"></script>
	</body>
</html>
