<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>All Measurements</title>
		<link rel="stylesheet" href="/static/style.css">
	</head>
	<body>
		<h1>All Measurements</h1>
		<table>
			<thead>
				<tr>
					<th>Timestamp</th>
					<th>TVOC Value</th>
					<th>eCO2 Value</th>
				</tr>
			</thead>
			<tbody>
				{% for measurement in measurements %}
				<tr>
					<td>{{ measurement.timestamp }}</td>
					<td>{{ measurement.TVOC }}</td>
					<td>{{ measurement.eCO2 }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

		<div class="navigation">
			<a href="{{ url_for('index') }}">Back to Front Page</a>
		</div>
	</body>
</html>
