<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>All Measurements</title>
		<link rel="stylesheet" href="/static/style.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<h1>All Measurements</h1>
		<table id="measurements-table">
			<thead>
				<tr>
					<th>Timestamp</th>
					<th>TVOC</th>
					<th>eCO2</th>
				</tr>
			</thead>
			<tbody>
				{% for measurement in measurements %}
				<tr>
					<td>{{ measurement.timestamp }}</td>
					<td>{{ measurement.TVOC }}</td>
					<td>{{ measurement.eCO2 }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<!-- Display a message if there are no measurements -->
		{% if measurements|length == 0 %}
		<p>No measurements recorded yet.</p>
		{% else %}
		<div id="pagination">
			<button id="prevBtn">&lt;</button>
			<span id="pageInfo"></span>
			<button id="nextBtn">&gt;</button>
		</div>
		{% endif %}
		<footer>
			<a href="{{ url_for('index') }}" class="btn">
				<i class="fa fa-home"></i>
			</a>
		</footer>
		<script src="/static/script.js"></script>
	</body>
</html>
