<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>All Measurements</title>
		<link rel="stylesheet" href="/static/style.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<h1>All Measurements</h1>
		<table>
			<thead>
				<tr>
					<th>Timestamp</th>
					<th>TVOC</th>
					<th>eCO2</th>
				</tr>
			</thead>
			<tbody>
				{% for measurement in measurements %}
				<tr>
					<td>{{ measurement.timestamp }}</td>
					<td>{{ measurement.TVOC }}</td>
					<td>{{ measurement.eCO2 }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

		<footer>
			<a href="{{ url_for('index') }}" class="btn">
				<i class="fa fa-home"></i>
			</a>
		</footer>
	</body>
</html>
